main{
    font-size: 0;
    
}
.parent-box{
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    border: 1px solid gray;
    
}
.centered{
    text-align: center;

}
.box{
 border:1px solid black;
 box-sizing: border-box;

}
.green{
    height: 200px;
    width: 50%;
    background-color: green;
    border:1px solid black;
    display: inline-block;
}
.blue{
    height: 200px;
    width: 50%;
    background-color: blue;
    border:1px solid black;
    display: inline-block;
    
}
.gray{
    background-color: gray;
    height: 300px;
    width: 33.33%;
    border:1px solid black;
    display: inline-block;
}
.orange{
    background-color: orange;
    height: 300px;
    width:33.33%;
    border:1px solid black;
    display: inline-block;
}
.black{
    height: 300px;
    width: 33.33%;
    background-color: black;
    border:1px solid black;
    display: inline-block;
}